@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html {
    overflow: hidden;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    position: fixed;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}

.gradient-text {
    @apply bg-clip-text text-transparent box-decoration-clone;
}

p,
textarea {
    text-align: start;
    unicode-bidi: plaintext;
}