@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html {
    scroll-behavior: smooth !important;
}

.gradient-text {
    @apply bg-clip-text text-transparent box-decoration-clone;
}
