@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

.gradient-text {
    @apply bg-clip-text text-transparent box-decoration-clone;
}

p,
textarea {
    text-align: start;
    unicode-bidi: plaintext;
}